@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sadeep Lakshan Gamage</h1>
    <p>Hello world my name is Sadeep Lakshan Gamage<br> 
    And i'm From Sri Lanka 
    </p>
</div>
